h1 {
  font-size: 1rem;
  text-align: center;

  @media only screen and (min-width: 940px) {
    font-size: 2rem;
    text-align: left;
  }
}

h2 {
  font-size: 1.25rem;
  text-align: center;

  @media only screen and (min-width: 940px) {
    font-size: 0.8rem;
    text-align: left;
  }
}

h3 {
  font-size: 1.25rem;
  text-align: center;

  @media only screen and (min-width: 940px) {
    font-size: 0.8rem;
    text-align: left;
  }

}

a {
  font-weight: bold;
  color: rgba(77, 30, 15, 1);
  transition: color 200ms ease;
}

a:hover {
  color: white;
  transition: color 400ms ease;
}
